<mat-tab-group mat-align-tabs="start">

  <mat-tab label="Suscripciones">
    <div class="generalContainer">
      <app-suscripciones></app-suscripciones>
    </div>

  </mat-tab>

  <mat-tab label="Pagos">
    <div class="generalContainer">
      <app-pagos></app-pagos>
    </div>
  </mat-tab>

  <mat-tab label="Egresos">
    <div class="generalContainer">
      <app-egresos></app-egresos>
    </div>
  </mat-tab>


</mat-tab-group>

