<form (ngSubmit)="onSubmit(form)" #form="ngForm" style="margin-top: 16px">

  <mat-form-field appearance="fill">
    <mat-label>Fecha de inicio</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="fecheInicio1" name="fechaInicio" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-left: 20px; margin-right: 20px;">
    <mat-label>Fecha de fin</mat-label>
    <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaFin1" required name="fechaFin">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>


  <button mat-raised-button color="primary" type="submit">Cargar</button>
</form>

<div class="horizontalCardPanel" *ngIf="pagos!=undefined">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Ingreso Bruto</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
      {{ingresoBruto|currency: 'PEN': 'symbol': '': 'es-PE'}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Cobrado</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
       {{cobrado|currency: 'PEN': 'symbol': '': 'es-PE'}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Por cobrar</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
      {{porCobrar|currency: 'PEN': 'symbol': '': 'es-PE'}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Descontado</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
     {{descontado|currency: 'PEN': 'symbol': '': 'es-PE'}}
      </p>
    </mat-card-content>
  </mat-card>

</div>

<mat-form-field>
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<div class="mat-elevation-z1">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="nombreCliente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente</th>
      <td mat-cell *matCellDef="let row"> {{row.nombreCliente}} </td>
    </ng-container>


    <!-- ID Column -->
    <ng-container matColumnDef="deuda">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Deuda</th>
      <td mat-cell *matCellDef="let row"> {{row.deuda}} </td>
    </ng-container>


    <ng-container matColumnDef="lugarCliente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lugar</th>
      <td mat-cell *matCellDef="let row"> {{row.lugarCliente}} </td>
    </ng-container>

    <ng-container matColumnDef="direccionCliente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección</th>
      <td mat-cell *matCellDef="let row"> {{row.direccionCliente}} </td>
    </ng-container>
    <!-- Progress Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
      <td mat-cell *matCellDef="let row"> {{row.fecha.toMillis() |date:'MMMM - y'}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngStyle]="{'background-color': (row.pagado==true) ? '' : '#FEF1F2'}"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[25, 50, 100, 150]"></mat-paginator>
</div>

<button mat-raised-button [disabled]="pagos==undefined" style=" margin-right: 8px" color="accent" (click)="exportPDFDeudores()">Exportar PDF Deudores</button>
<button mat-raised-button [disabled]="pagos==undefined" style=" margin-right: 8px" color="accent" (click)="exportPDFTodos()">Exportar PDF Todos </button>
<button mat-raised-button [disabled]="pagos==undefined" color="accent" (click)="exportPDFResumenCobradores()">Exportar resumen de cobradores </button>

