.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
table {
  width: 100%;
}

.example-card {
  max-width: 200px;
}

.horizontalCardPanel {
display: flex;
  grid-template-columns: repeat(4,min-content);
  grid-column-gap: 10px;
  box-sizing: border-box;
  padding-bottom: 8px;
}
p{
  text-align: center;
  font-size: 16px;
}
