
<div class="spacer-left-regular">
  <h2 >{{data.nombreCompleto}}</h2>
</div>

<div class="mat-elevation-z8 ">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="pagado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado</th>
      <td mat-cell *matCellDef="let row"> {{row.pagado == true ? 'Pagado' : 'Debe'}} </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="deuda">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Deuda</th>
      <td mat-cell *matCellDef="let row"> {{row.deuda}} </td>
    </ng-container>

    <ng-container matColumnDef="montoAbonado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Monto Abonado.</th>
      <td mat-cell *matCellDef="let row"> {{row.montoAbonado}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
      <td mat-cell *matCellDef="let row"> {{row.fecha.toMillis() |date:'MMMM - y'}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="descuento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descuento</th>
      <td mat-cell *matCellDef="let row"> {{row.descuento}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="motivo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Motivo Desc.</th>
      <td mat-cell *matCellDef="let row"> {{row.motivo}} </td>
    </ng-container>


    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>


        <mat-menu #menu="matMenu">

          <button mat-menu-item *ngIf="row.pagado"
                  (click)="imprimirComprobante(row)">Imprimir comprobante
          </button>

          <button mat-menu-item *ngIf="!row.pagado else yapagado"
                  (click)="openSavePagoDialog(row)">Pagar
          </button>
          <ng-template #yapagado>
            <button mat-menu-item *ngIf="authService.getUser().type=='administrador'"
                    (click)="openUpdatePagoDialog(row)">Actualizar
            </button>
          </ng-template>

        </mat-menu>


      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngStyle]="{'background-color': (row.pagado==true) ? '' : '#FEF1F2'}"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
