<mat-form-field class="example-full-width" [formGroup]="formControl.parent">
  <mat-label>Método de pago</mat-label>
  <mat-select [(value)]="selected"  formControlName="metodo">
    <mat-option *ngFor="let mp of metodosPago" [value]="mp">
      {{mp}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="formControl.errors">El valor es incorrecto</mat-error>
</mat-form-field>

