<form class="example-form" [formGroup]="suscripcionForm">


  <mat-form-field class="example-full-width">
    <mat-label>Nombre completo</mat-label>
    <input matInput formControlName="nombreCompleto">

    <mat-error *ngIf="suscripcionForm.controls['nombreCompleto'].errors">
      El valor es incorrecto
    </mat-error>

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Telefono</mat-label>
    <input matInput formControlName="telefono">
    <mat-error *ngIf="suscripcionForm.controls['telefono'].errors">
      El valor es incorrecto
    </mat-error>
  </mat-form-field>

  <app-dropdown-lugares [formControl]="suscripcionForm.get('lugar')"></app-dropdown-lugares>

  <mat-form-field class="example-full-width">
    <mat-label>Direccion</mat-label>
    <input matInput formControlName="direccion">
    <mat-error *ngIf="suscripcionForm?.controls['direccion']?.errors">
      El valor es incorrecto
    </mat-error>
  </mat-form-field>


  <app-dropdown-planes [planes]="planes" [suscripcionForm]="suscripcionForm"></app-dropdown-planes>

  <mat-form-field class="example-full-width">
    <mat-label>Precio Plan</mat-label>
    <input matInput formControlName="precioPlan">
    <mat-error *ngIf="suscripcionForm.controls['precioPlan'].errors">
      El valor es incorrecto
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Vel.Bajada</mat-label>
    <input matInput formControlName="velocidadBajada">
    <mat-error *ngIf="suscripcionForm.controls['velocidadBajada'].errors">
      El valor es incorrecto
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Vel.Subida</mat-label>
    <input matInput formControlName="velocidadSubida">
    <mat-error *ngIf="suscripcionForm.controls['velocidadSubida'].errors">
      El valor es incorrecto
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Fecha Instalacion</mat-label>
    <input matInput value="{{getfechaUI() |date:'dd - MMMM - y'}}" disabled>
  </mat-form-field>

  <br/>
    <button mat-raised-button [disabled]="suscripcionForm.invalid"  color="primary" (click)="updateSuscripcion()">Actualizar Datos</button>

</form>

<!--<pre>-->
<!--            {{suscripcionForm.value | json}}-->
<!--</pre>-->
