<form class="example-form" [formGroup]="formEgreso">

<!--  <mat-form-field  class="example-full-width">-->
<!--    <mat-label>Persona</mat-label>-->
<!--    <mat-select formControlName="persona">-->

<!--      <mat-option *ngFor="let persona of personas" [value]="persona">-->
<!--        {{persona}}-->
<!--      </mat-option>-->

<!--    </mat-select>-->
<!--    <mat-error *ngIf="formEgreso.controls['persona'].errors">El valor es incorrecto</mat-error>-->

<!--  </mat-form-field>-->



  <mat-form-field class="example-full-width">
  <mat-label>Monto</mat-label>
  <input matInput formControlName="monto" type="number">
  <mat-error *ngIf="formEgreso.controls['monto'].errors">
    El valor es incorrecto
  </mat-error>
</mat-form-field>

  <mat-form-field appearance="standard" class="example-full-width">
    <mat-label>Fecha</mat-label>
    <input matInput [matDatepicker]="picker"  formControlName="fecha" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <mat-error *ngIf="formEgreso.controls['fecha'].errors">
      El valor es incorrecto
    </mat-error>
  </mat-form-field>




<mat-form-field class="example-full-width">
  <mat-label>Motivo</mat-label>
  <input matInput formControlName="motivo" type="text">
  <mat-error *ngIf="formEgreso.controls['motivo'].errors">
    El valor es incorrecto
  </mat-error>
</mat-form-field>


<br/>

<button mat-raised-button color="primary" [disabled]="formEgreso.invalid" (click)="saveEgreso()">Registrar Egreso</button>

</form>
