<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 (click)="login=true" [ngClass]="login ? 'active' : 'inactive underlineHover'"> Iniciar Sesión </h2>
    <h2 (click)="login=false" [ngClass]="!login ? 'active' : 'inactive underlineHover'">Registrarse </h2>

    <!-- CONTENEDOR REMPLAZABLE -->

    <div *ngIf="login; else registerview">
      <!-- Icon -->
      <div class="fadeIn first">
        <span class="material-icons" style="font-size: 50px;">
          account_circle
          </span>

      </div>

      <!-- Login Form -->
      <form (ngSubmit)="signIn(signInForm)" #signInForm="ngForm">
        <input [ngModel]="loginUsername" required type="text" id="username" class="fadeIn second" name="username"
               placeholder="Usuario">
        <input [ngModel]="loginPassword" type="text" id="password" required class="fadeIn third" name="password"
               placeholder="Contraseña">
        <input type="submit" class="fadeIn fourth" value="Entrar">
      </form>

    </div>

    <ng-template #registerview>

      <!-- Icon -->
      <div class="fadeIn first">
      <span class="material-icons" style="font-size: 50px;">
        account_circle
        </span>
      </div>

      <!-- Register Form -->
      <form autocomplete="off" (ngSubmit)="registrar(form)" #form="ngForm">
        <input [ngModel]="usuario.name" required type="text" id="name" class="fadeIn second" name="name"
               placeholder="Nombres">
        <input [ngModel]="usuario.lastname" required type="text" id="lastname" class="fadeIn second" name="lastname"
               placeholder="Apellidos">
        <input [ngModel]="usuario.username" required type="text" id="username" class="fadeIn second" name="username"
               placeholder="Usuario">
        <input [ngModel]="usuario.password" required type="text" id="password" class="fadeIn third" name="password"
               placeholder="Contraseña">
        <input #saveBtn type="submit" class="fadeIn fourth" value="Registrar">
      </form>
    </ng-template>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <p>$Carrillo Software
      <p>
    </div>

  </div>
</div>
