<mat-form-field  class="example-full-width">
  <mat-label>Plan</mat-label>
  <mat-select [(ngModel)]="selectedPlan" name="plan" (selectionChange)="setPlan()">

    <mat-option *ngFor="let plan of planes" [value]="plan">
      {{plan.nombre}}
    </mat-option>

  </mat-select>
  <mat-error *ngIf="suscripcionForm.controls['precioPlan'].errors">El valor es incorrecto</mat-error>

</mat-form-field>

