<form class="example-form" [formGroup]="formPago">

  <mat-form-field class="example-full-width" >
    <mat-label>Deuda</mat-label>
    <input matInput formControlName="deuda" type="number" >
    <mat-error *ngIf="formPago.controls['deuda'].errors">
      El valor es incorrecto
    </mat-error>

  </mat-form-field>

<!--  <mat-form-field class="example-full-width">-->
<!--    <mat-label>Monto a Pagar</mat-label>-->
<!--    <input matInput formControlName="montoAbonado" type="number">-->
<!--    <mat-error *ngIf="formPago.controls['montoAbonado'].errors">-->
<!--      El valor es incorrecto-->
<!--    </mat-error>-->
<!--  </mat-form-field>-->

  <mat-form-field class="example-full-width">
    <mat-label>Descuento</mat-label>
    <input matInput formControlName="descuento" type="number">
    <mat-error *ngIf="formPago.controls['descuento'].errors">
      El valor es incorrecto
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Motivo</mat-label>
    <input matInput formControlName="motivo">
    <mat-error *ngIf="formPago.controls['motivo'].errors">
      El valor es incorrecto
    </mat-error>
  </mat-form-field>

  <app-dropdown-meotodospago [formControl]="formPago.get('metodo')"  ></app-dropdown-meotodospago>


  <br/>

  <button mat-raised-button color="primary" [disabled]="formPago.invalid" (click)="savePago()">Registrar Pago</button>

</form>

<!--<pre>-->
<!--            {{formPago.value | json}}-->
<!--</pre>-->
