<form (ngSubmit)="onSubmit(form)" #form="ngForm" style="margin-top: 16px">

  <mat-form-field appearance="fill">
    <mat-label>Fecha de inicio</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="fecheInicio" name="fechaInicio" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-left: 20px; margin-right: 20px;">
    <mat-label>Fecha de fin</mat-label>
    <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaFin" required name="fechaFin">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>


  <button mat-raised-button color="primary" type="submit">Cargar</button>
</form>



<mat-form-field>
  <mat-label>Filtrar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>


<button mat-raised-button color="primary" (click)="openDialogRegistroEgreso()" style="margin-left: 50px">Registrar Egreso</button>


<table mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="persona">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> persona</th>
    <td mat-cell *matCellDef="let row"> {{row.persona }} </td>
  </ng-container>

  <!-- ID Column -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> fecha</th>
    <td mat-cell *matCellDef="let row"> {{row.fecha | date}} </td>
  </ng-container>

  <ng-container matColumnDef="monto">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Monto S/.</th>
    <td mat-cell *matCellDef="let row"> {{row.monto}} </td>
  </ng-container>

  <!-- Progress Column -->
  <ng-container matColumnDef="motivo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Motivo</th>
    <td mat-cell *matCellDef="let row"> {{row.motivo}} </td>
  </ng-container>


  <!--  <ng-container matColumnDef="buttons">-->
  <!--    <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>-->
  <!--    <td mat-cell *matCellDef="let row">-->

  <!--      <button mat-mini-fab color="primary" *ngIf="!row.pagado else yapagado" (click)="openDialogActualizacionPago(row)" >-->
  <!--        <mat-icon>attach_money</mat-icon>-->
  <!--      </button>-->

  <!--      <ng-template #yapagado>-->

  <!--        <button mat-mini-fab  (click)="openDialogActualizacionPago(row)">-->
  <!--          <mat-icon>edit</mat-icon>-->
  <!--        </button>-->

  <!--      </ng-template>-->

  <!--    </td>-->
  <!--  </ng-container>-->


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
