<mat-form-field  class="example-full-width"  [formGroup]="formControl.parent">
  <mat-label>Lugar</mat-label>
  <mat-select  [(value)]="selected" formControlName="lugar" >

    <mat-option *ngFor="let lugar of lugares" [value]="lugar.nombre.toLowerCase()">
      {{lugar.nombre.toLowerCase()}}
    </mat-option>

  </mat-select>
  <mat-error *ngIf="formControl.errors">El valor es incorrecto</mat-error>

</mat-form-field>

