<button mat-raised-button color="primary" (click)="openDialogRegistroSuscripcion()">Nuevo Cliente</button>

<mat-form-field class="spacer-top-regular">
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<div class="mat-elevation-z1" >
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- CODIGO Column -->
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
      <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="nombreCompleto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
      <td mat-cell *matCellDef="let row"> {{row.nombreCompleto}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono</th>
      <td mat-cell *matCellDef="let row"> {{row.telefono}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección</th>
      <td mat-cell *matCellDef="let row"> {{row.direccion}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="lugar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lugar</th>
      <td mat-cell *matCellDef="let row"> {{row.lugar}} </td>
    </ng-container>

    <ng-container matColumnDef="servicioSuspendido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado</th>
      <td mat-cell *matCellDef="let row"> {{row.servicioSuspendido?'Suspendido':'Activo'}} </td>
    </ng-container>

    <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Menu</th>
      <td mat-cell *matCellDef="let row">

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openViewPagosDeSuscripcion(row)">Pagos</button>
          <button *ngIf="row.servicioSuspendido else cortar" mat-menu-item color="primary"
                  (click)="reactivarServicio(row)">Reactivar
            Servicio
          </button>
          <ng-template #cortar>
            <button mat-menu-item color="warn" (click)="cortarServicio(row)">Iniciar corte</button>
          </ng-template>

          <button mat-menu-item (click)="openDialogactualizarInformacion(row)">Actualizar</button>
        </mat-menu>
      </td>
    </ng-container>

<!--    <ng-container matColumnDef="botones2">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> Botones</th>-->
<!--      <td mat-cell *matCellDef="let row">-->

<!--        <button *ngIf="row.servicioSuspendido else cortar" mat-raised-button color="primary" (click)="reactivarServicio(row)">Reactivar-->
<!--          Servicio-->
<!--        </button>-->
<!--        <ng-template #cortar>-->
<!--          <button mat-raised-button  color="warn" (click)="cortarServicio(row)">Iniciar corte</button>-->
<!--        </ng-template>-->

<!--      </td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="botones3">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> Botones</th>-->
<!--      <td mat-cell *matCellDef="let row">-->

<!--        <button mat-raised-button (click)="openDialogactualizarInformacion(row)">Actualizar</button>-->


<!--      </td>-->
<!--    </ng-container>-->


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"  [ngStyle]="{'background-color': (row.servicioSuspendido) ? '#FEF1F2' : ''}"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No se encontraron datos para "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[25, 50, 100, 150]"></mat-paginator>
</div>
<div class="spacer-top-regular">

  <button mat-raised-button  style=" margin-right: 8px"  color="accent" (click)="getSuscripcionesConCorte()">Exportar PDF clientes con corte
  </button>

  <button mat-raised-button color="accent" (click)="exportPDFAllSuscripciones()">Exportar PDF todos los clientes
  </button>
</div>

<!--<button mat-raised-button color="accent" (click)="importDataFromJson()">Importar Clientes-->
<!--</button>-->
