/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
  --regularSpace: 15px;
  --largeSpace: 30px;
  --extraLargeSpace: 60px;
}

.spacer-top-regular{
  margin-top: var(--regularSpace);
}

.spacer-top-large{
  margin-top: var(--largeSpace);
}

.spacer-top-xlarge{
  margin-top: var(--extraLargeSpace);
}

.spacer-left-regular{
  margin-left: var(--regularSpace)!important;
}

.generalContainer {
  padding: var(--regularSpace);
}

.flex-row{
  width: 100%;
  display: flex;
  align-items: center;
  /*background-color: red;*/
}

.flex-column
{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-horizontal-weight-1{
  flex-grow: 1;
}


.example-full-width{
 width: 100%;
}


.spacer-regular-horizontal {
  width: var(--regularSpace);
}

.spacer-regular-vertical {
  height: var(--regularSpace);
}

.align-center-horizontal {
justify-content: center;
}

.width-match-parent{
  width: 100%;
}
