<form class="example-form">

  <div id="image-section" style="padding-bottom: 20px">


    <div class="flex-row spacer-top-regular">
      <h3>TITULAR:</h3>
      <div class="spacer-regular-horizontal"></div>

      <span value="" class="flex-horizontal-weight-1 ">
      {{pago.nombreCliente.toUpperCase()}}
    </span>
    </div>
    <div class="flex-row spacer-top-regular">
      <h3>CÓDIGO:</h3>
      <div class="spacer-regular-horizontal"></div>
      <span value="" class="flex-horizontal-weight-1 ">
        {{suscripcion.codigo}}
      </span>
    </div>
    <div class="flex-row spacer-top-regular">
      <h3>DIRECCIÓN:</h3>
      <div class="spacer-regular-horizontal"></div>
      <span value="" class="flex-horizontal-weight-1 ">
      {{pago.direccionCliente}}
    </span>
    </div>
    <div class="flex-row spacer-top-regular">
      <h3>TELÉFONO:</h3>
      <div class="spacer-regular-horizontal"></div>
      <span class="flex-horizontal-weight-1 ">
      {{pago.telefonoCLiente}}
    </span>
    </div>

    <div class="flex-row spacer-top-regular">
      <h3>PLAN:</h3>
      <div class="spacer-regular-horizontal"></div>

      <span class="flex-horizontal-weight-1 ">
      {{suscripcion.nombrePlan}}
    </span>
    </div>

    <!-- <div class="flex-row spacer-top-regular">
      <h3>SERVICIO:</h3>
      <div class="spacer-regular-horizontal"></div>
      <span class="flex-horizontal-weight-1 ">
      {{suscripcion.nombrePlan}}
    </span>
    </div> -->

    <div class="flex-row spacer-top-regular">
      <h3>CORREO:</h3>
      <div class="spacer-regular-horizontal"></div>
      <span class="flex-horizontal-weight-1 ">
      ---
    </span>
    </div>

    <div class="flex-row spacer-top-regular">
      <h3>CAJA:</h3>
      <div class="spacer-regular-horizontal"></div>
      <span class="flex-horizontal-weight-1 ">
      {{authService.getUser().name|uppercase}} ${{authService.getUser().lastname|uppercase}}
    </span>
    </div>
    <!--  <div class="flex-container spacer-top-regular">-->
    <!--    <h3>Titular:</h3>-->
    <!--    <div class="spacer-regular-horizontal"></div>-->
    <!--    <input matInput  [ngModel]="pago." class="flex-horizontal-weight-1 ">-->
    <!--  </div>-->
    <div class="spacer-top-xlarge width-match-parent flex-column align-center-horizontal">

      <div>
        <h2 class="match-parent">IMPORTE: S/ {{pago.montoAbonado.toFixed(2)}}</h2>
      </div>

      <h3 *ngIf="pago.descuento>0" class="match-parent">DESCUENTO: S/ {{pago.descuento.toFixed(2)}}</h3>

    </div>

  </div>



  <div class="spacer-top-xlarge">

    <button mat-raised-button (click)="print()">
      <mat-icon>print</mat-icon>
      Imprimir
    </button>
    <button mat-raised-button (click)="sendEmail()" class="spacer-left-regular">
      <mat-icon>email</mat-icon>
      Enviar a correo
    </button>

  </div>
</form>

<!--<pre>-->
<!--            {{formPago.value | json}}-->
<!--</pre>-->
