<mat-toolbar>
  <!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
  <!--      <mat-icon>menu</mat-icon>-->
  <!--    </button>-->
  <span>GigaFiber</span>
  <span class="example-spacer"></span>

  <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #menu="matMenu">

    <span style="padding: 12px; font-size: 11px">{{user_label}}</span>
    <hr>
    <button mat-menu-item (click)="logOut()">Cerrar Sesión</button>

  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>


